.navbar-component
  a:hover, a.active
    background-color: #053333
  .static-nav-item:hover, .static-nav-item.active
    background-color: #053333

  .static-nav-item .nav-text, a span
    color: white !important
    font-size: 1rem !important

